.ts-layout > .ts-panel.ts-main {
  margin: 0 auto;
  max-width: 520px;
}

.ts-content h1,
.ts-content p {
  padding: 0 10px;
}

.ts-content button {
  margin-left: 10px;
}

.ts-form input.ts-field.ts-date:invalid,
.ts-form input.ts-field.ts-text:invalid {
  border-color: #bc0000;
}
